{% load static %}
<!doctype html>

<head>
    <title>
        MonCom – {% block title %}{% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="{% static 'supervision/fonts/fontawesome-free-5.15.1-web/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'supervision/style/base.css' %}?{% now ' u'='' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'supervision/style/colours.css' %}?{% now ' u'='' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'supervision/style/menu.css' %}?{% now ' u'='' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'supervision/style/forms.css' %}?{% now ' u'='' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'supervision/style/list.css' %}?{% now ' u'='' %}">
    {% block stylesheets %}{% endblock %}

    {% if recaptcha_site_key %}
        <script src='https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}'></script>
    {% endif %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>

    {% block header_scripts %}{% endblock %}
</head>

<body>
    <div id="popup-container" style="display: none;">
        {% block popups %}{% endblock %}
    </div>

    <div id="umbrella-flex">
        {% include "./menu.html" %}

        {% if show_controller_view %}
            <div class="content-container" id="controller-container">
                {% block controller %}
                {% endblock %}
            </div>
        {% elif show_template_view %}
            <div class="content-container" id="template-container">
                {% block template %}
                {% endblock %}
            </div>
        {% else %}
            <div class="content-container" id="grid-container">
                <div id="grid-body">
                    <header class="grid-box-header">{% block header %}{% endblock %}</header>
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        {% endif %}
    </div>

    <div id="message-container">
        {% if messages %}
            {% for message in messages %}
            <div {% if message.tags %} class="message-popup {{ message.tags }}"{% endif %}>
                <div class="message-icon"></div>
                <div class="message-text">
                    <!-- {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %} -->
                    {{ message }}
                </div>
                <div class="message-close">
                    <button onclick="$(this).parents()[2].remove();">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>

    <script type="text/javascript" src="{% static 'supervision/scripts/base.js' %}?{% now ' u'='' %}"></script>

    {% if recaptcha_site_key %}
    <script>
        grecaptcha.ready(function() {
            grecaptcha.execute("{{ recaptcha_site_key }}", {action: "/contact/"}).then(function(token) {
                document.getElementById("g-recaptcha-response").value = token;
            });
        });
    </script>
    {% endif %}
    {% block scripts %}{% endblock %}

</body>