{% extends "supervision/_base.html" %}

{% block title %}Dashboard{% endblock %}

{% block header %}Dashboard{% endblock %}

{% block body %}
    <content class="narrow-content">
        <p>Use the menu to start a new session or create a new template.</p>
    </content>
{% endblock %}