<div class="menu-section {{ extra_class }}">
    <a href="/{{ path }}" title="{{ title }}" class="menu-tab menu-button">
        <div class="icon-container">
            <i class="{{ fa_class }}"></i>
        </div>
        <div class="label-container">
            {{ label }}
        </div>
    </a>
</div>