<div id="menu">

    {% include "./menu_button.html" with path=" " title="Home page" fa_class="fas fa-home" label="Home"%}

    {% if user.is_authenticated %}

        {% include "./menu_button.html" with path="controller" title="Quickstart session" fa_class="fas fa-bolt" label="Quickstart"%}

        {% include "./menu_button.html" with path="sessions" title="View all sessions" fa_class="fas fa-chalkboard-teacher" label="Sessions"%}

        {% include "./menu_button.html" with path="templates" title="Create and edit templates" fa_class="fas fa-th-list" label="Templates"%}

        <!-- {% include "./menu_button.html" with path="sequences" title="Create and edit sequences" fa_class="fas fa-list-ol" label="Sequences"%} -->

    {% endif %}

    <div id="menu-filler"></div>

    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            {% include "./menu_button.html" with path="admin" title="Django Admin" fa_class="fas fa-user-shield" label="Admin" %}
        {% endif %}

        {% include "./menu_button.html" with path="user" title="View user page" fa_class="fas fa-user" label=user.username %}

        {% include "./menu_button.html" with path="accounts/log_out" title="Log out of this session" fa_class="fas fa-sign-out-alt" label="Log out"%}

    {% else %}
        {% include "./menu_button.html" with path="accounts/register" title="Create an account" fa_class="fas fa-user-plus" label="Sign up"%}

        {% include "./menu_button.html" with path="accounts/log_in" title="Log in" fa_class="fas fa-sign-in-alt" label="Log in"%}
    {% endif %}


    {% include "./menu_button.html" with path="help" title="View help pages" fa_class="fas fa-question" label="Help" extra_class="bottommost" %}
</div>