<!doctype html>

<head>
    <title>
        MonCom – Receiver
    </title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'supervision/fonts/fontawesome-free-5.15.1-web/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'supervision/style/colours.css' %}?{% now ' u'='' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'supervision/style/receiver.css' %}?{% now ' u'='' %}">
    {% block stylesheets %}{% endblock %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
    {{ session.id|json_script:"session-id" }}

</head>

<body>
    <div id="menu-container" onclick="$('#popup-container').show();">
        <i class="fas fa-bars"></i>
    </div>

    <div id="popup-container" style="display: none;">
        <div class="receiver-popup-window">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <label for="participant-name">Your name</label>
                        </td>
                        <td>
                            <input type="text" name="participant-name" id="participant-name" placeholder="Enter your name">
                        </td>
                    </tr>
                {% if session.status == "PWD" %}
                <tr>
                    <td>
                        <label for="participant-name">Session password</label>
                    </td>
                    <td>
                        <input type="text" name="session-password" id="session-password" placeholder="Session password">
                    </td>
                </tr>
                {% endif %}
                </tbody>
            </table>
            <input type="button" onclick="submitParticipantDetails();" value="Submit">
        </div>
    </div>

    <div id="content-wrapper">
        <div id="text-container">
            <span id="text-here"></span>
        </div>

        <div id="image-container">
            <img id="image-here">
        </div>
    </div>
</body>

<script type="text/javascript" src="{% static 'supervision/scripts/base.js' %}?{% now ' u'='' %}"></script>
<script type="text/javascript" src="{% static 'supervision/scripts/receiverSocket.js' %}?{% now ' u'='' %}"></script>
