
{% extends "supervision/_base.html" %}

{% load static %}

{% block title %}Sessions{% endblock %}

{% block header %}Sessions{% endblock %}

{% block body %}
<content>
    <div>
        <table id="list-table">
            <thead>
            <tr>
                <th>Status</th>
                <th class="wider-column">Name</th>
                <th class="wider-column">ID</th>
                <th class="wider-column">Latest Run</th>
                <th class="widest-column">Last Message</th>
            </tr>
            </thead>
            <tbody>
                {% for session in sessions %}
                    <tr class="list-table-row" onclick="openController('{{ session.id }}')">
                        <td class="cell-with-icon">
                            {% if session.is_running %}
                                <i class="fa-large fas fa-lightbulb" title="Session is live"></i>
                            {% else %}
                                <i class="fa-large far fa-lightbulb" title="Session is inactive"></i>
                            {% endif %}

                            {% if session.status == "OPN" %}
                                <i class="fa-large fas fa-door-open" title="Open door policy"></i>
                            {% elif session.status == "CLS" %}
                                <i class="fa-large fas fa-door-closed" title="Participants require permission"></i>
                            {% else %}
                                <i class="fa-large fas fa-key" title="Password protected"></i>
                            {% endif %}
                            <!-- {% if session.is_locked and not session.is_running %}
                                <i class="fa-large far fa-lightbulb" title="Inactive"></i>
                            {% endif %} -->
                        </td>
                        <td>{{ session.name }}</td>
                        <td>{{ session.id }}</td>
                        <td>{{ session.latest_run_start }}</td>
                        <td class="text-column"
                            title="{{ session.message_set.first.get_child.content }}">
                            {{ session.message_set.first.get_child.strip_html }}
                        </td>
                    </tr>
                {% empty %}
                    <!-- <tr class="list-table-row">
                        <td class="cell-with-icon">Empty!</td>
                        <td>Open new session below...</td>
                        <td></td>
                        <td></td>
                    </tr> -->
                {% endfor %}
            </tbody>
        </table>
        <div class="linewidth-centered-input-container">
            <button class="button-with-icon" onclick="showPopup('session-form');" type="button">
                <i class="fas fa-plus"></i>
                Open new session
            </button>
        </div>

    </div>
</content>
{% endblock %}

{% block popups %}
    <div class="popup" id="session-form">
        <header>
            Open new session
        </header>
        <form method="POST">
            {% csrf_token %}
            {{ session_form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}
