
{% extends "supervision/_base.html" %}

{% load static %}

{% block title %}Templates{% endblock %}

{% block header %}Templates{% endblock %}

{% block body %}
<content>
    <div>
        <table id="list-table">
            <thead>
            <tr>
                <th class="wider-column">Name</th>
                <th class="wider-column">Sessions</th>
                <th class="wider-column">Text</th>
                <th class="wider-column">Images</th>
                <th class="wider-column">Last Used</th>
            </tr>
            </thead>
            <tbody>
                {% for template in templates %}
                    <tr class="list-table-row" onclick="openTemplate('{{ template.id }}')">
                        <td>{{ template.name }}</td>
                        <td>
                            {% if template.session_set.all %}
                                {{ template.session_set.all|length }} ({{ template.session_set.first.name }}, ...)
                            {% else %}
                                None
                            {% endif %}
                            </td>
                        <td>
                            {% if template.text_set.all %}
                                {{ template.text_set.all|length }} ({{ template.text_set.first.strip_html }}, ...)
                            {% else %}
                                None
                            {% endif %}
                        </td>
                        <td>
                            {% if template.image_set.all %}
                                {{ template.image_set.all|length }} ({{ template.image_set.first.content }}, ...)
                            {% else %}
                                None
                            {% endif %}
                        </td>
                        <td>{{ template.last_used }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="linewidth-centered-input-container">
            <button class="button-with-icon" onclick="showPopup('template-form');" type="button">
                <i class="fas fa-plus"></i>
                Create new template set
            </button>
        </div>

    </div>
</content>
{% endblock %}

{% block popups %}
    <div class="popup" id="template-form">
        <header>
            Create new template set
        </header>
        <form method="POST">
            {% csrf_token %}
            {{ template_form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}
