{% extends "supervision/_base.html" %}

{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'supervision/style/template.css' %}?{% now ' u'='' %}">
{% endblock %}

{% block title %}Template – {{ object.name }}{% endblock %}

{% block header %}Edit Template{% endblock %}

{% block header_scripts %}
    {{ object.id|json_script:"template-id" }}
    <script src="https://cdn.tiny.cloud/1/k3vxlwctr2lybfow6t56m7h4f5a0i8kr2bi2t7i64bcgwcjz/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
{% endblock %}


{% block template %}
    <div id="tab-selector">
        <div class="socket-tab">
            <div id="socket-status-container">
                <i class="fas fa-unlink disconnected" id="socket-status"></i>
            </div>
        </div>

        <div id="settings-tab" class="template-tab" onclick="openTab('settings');">Settings</div>
        <div id="text-tab" class="template-tab active" onclick="openTab('text');">Text messages</div>
        <div id="image-tab" class="template-tab" onclick="openTab('image');">Images</div>
    </div>

    <div class="template-page" id="settings-page">
        <!-- <header>Edit name</header> -->
        <div class="template-section">
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="form_label" value="rename_template" hidden>
                {{ template_form.as_p }}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

    <div class="template-page" id="text-page">
        <div class="template-list-container template-section with-background">
            <div class="template-list" id="text-list"></div>
        </div>

        <div class="template-preview with-background">
            <div id="content-wrapper">
                <div id="text-container">
                    <span id="text-here"></span>
                </div>

                <div id="image-container">
                    <img id="image-here">
                </div>
            </div>
        </div>

        <div class="template-timer" id="timer-container">
            <div class="timer-box" title="Timers are under construction">
                <div>00:00</div>
            </div>
        </div>

        <div class="template-input">

            <div id="text-input-container">
                <textarea id="input-textarea"></textarea>
            </div>
        </div>
    </div>


    <div class="template-page" id="image-page">
        <div class="template-list-container template-section with-background">
            <div class="template-list" id="image-list"></div>
        </div>

        <div class="template-preview with-background">
            <div id="content-wrapper">
                <div id="text-container">
                    <span id="text-here"></span>
                </div>

                <div id="image-container">
                    <img id="image-here">
                </div>
            </div>
        </div>

        <div class="template-timer" id="timer-container">
            <div class="timer-box" title="Timers are under construction">
                <div>00:00</div>
            </div>
        </div>

        <div class="template-input with-background">
            <div id="image-upload">
                This feature is not yet available.
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'supervision/scripts/templateSocket.js' %}?{% now ' u'='' %}"></script>
    <script type="text/javascript" src="{% static 'supervision/scripts/template.js' %}?{% now ' u'='' %}"></script>
{% endblock %}
