{% extends "supervision/_base.html" %}
{% load static %}


{% block title %}User – {{ user.username }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'supervision/style/user.css' %}?{% now ' u'='' %}">
{% endblock %}

{% block header %}
    Settings
{% endblock %}

{% block body %}
<div id="user-container-main">
    <div class="user-grid-section">
        <div class="user-grid-label">
            Membership status
        </div>
        <div class="user-grid-item">
            {{ user.profile.get_subscription_display }}
        </div>
    </div>

    <div class="horizontal-spacer">

    </div>

    <div class="user-grid-section">
        <div class="user-grid-label">
            Username
        </div>
        <div class="user-grid-item">
            {{ user.username }}
        </div>
    </div>

    <div class="user-grid-section">
        <div class="user-grid-label">
            Email
        </div>
        <div class="user-grid-item">
            {{ user.email }}
        </div>
    </div>

    <div class="user-grid-section">
        <div class="user-grid-label">
            Password
        </div>
        <div class="user-grid-item">
            <a href="/accounts/password_change">Change</a>
        </div>
    </div>

    <div class="user-grid-section">
        <div class="user-grid-label">
            Deactivate account
        </div>
        <div class="user-grid-item">

        </div>
    </div>
</div>
{% endblock %}