{% extends "supervision/_base.html" %}

{% block title %}Help pages{% endblock %}

{% block header %}Help{% endblock %}

{% block body %}
    <content class="narrow-content">
        <h2>What is MonCom?</h2>
        <p>
            MonCom is a tool for one-way communication.
        </p>
        <p>
            While it was originally built to give supervisors a means to communicate subtly and
            silently with trainees in another room, it could also be used e.g. in theatres
            for displaying subtitles, giving line hints to performers, or as an audience prompt.
        </p>

        <br>
        <h2>How does it work?</h2>
        <p>
            A supervisor opens a <b>session</b>. A session can be thought of as a one-way chat room: the
            supervisor writes messages and sends these to all receivers. The same message is
            displayed on every receiver's monitor.
        </p>
        <p>
            Connection options for receiving are found on the session page. Scan the QR code with
            your mobile phone, or send the link to participants.
        </p>

        <br>
        <h2>How can I contribute?</h2>
        <p>
            Get in touch with samuel@ay-bryson.com. If you're a developer, I'd be more than happy to
            hear your suggestions!
        </p>
    </content>
{% endblock %}
