* {
    box-sizing: border-box;
    /* color: var(--text-default); */
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html, body {
    background-color: var(--page-bg);
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
    /* padding-bottom: 10px; */
}

a:link, a:visited {
    color: var(--link);
    text-decoration: none;
}

a:link:hover {
    color: var(--link-hover);
    transition: all .1s ease;
}

#umbrella-flex {
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    display: flex;
    flex-flow: row;
}

#grid-container {
    display: grid;
    grid-template-columns: auto minmax(800px, 50%) auto;
    grid-gap: 12px;
    padding: 2% 0;
    height: 100%;
    width: 100%;
}

#grid-container > div {
    background-color: var(--grid-elem-bg);
    border-radius: 4px;
    box-shadow: 0 9px 6px -6px var(--grid-elem-shadow);
    overflow-y: auto;
}

#menu {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-flow: column;
    padding: 8px;
    background-color: var(--menu-bg);
    z-index: 1000;
}

#grid-body {
    grid-column: 2 / 3;
    height: 100%;
    min-height: 80vh;
}

.grid-box-header {
    width: 100%;
    border-bottom: 1px solid var(--grid-elem-highlight);
    font-weight: 600;
    border-radius: 5px 5px 0 0;
    text-align: center;
    padding: 12px;
    background-color: var(--grid-elem-header-bg);
    color: var(--grid-elem-header-text);
    font-size: larger;
}

#grid-body > content {
    overflow-y: auto;
    display: block;
    min-width: 900px;
    max-width: 1300px;
    padding: 16px 32px;
}

#grid-body > content.narrow-content {
    padding: 50px 150px;
}

.fa-large {
    font-size: x-large;
}

.horizontal-spacer {
    width: 80%;
    margin: 24px 10%;
    height: 1px;
    background-color: var(--moncom-blue-light);
}

#popup-container {
    z-index: 999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--popup-container-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

#popup-container > div {
	border-radius: 10px;
	background-color: var(--popup-bg);
	min-width: 500px;
	padding: 25px;
    width: min-content;
	max-width: 60%;
}

.popup > form label {
    margin-right: 20px;
}

.popup > header {
    margin: 0 0 24px;
    font-size: large;
    font-weight: 800;
    text-align: center;
}

#message-container {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-flow: column;
}

#message-container > .message-popup {
    display: flex;
    width: 50%;
    margin: 32px auto 0;
    padding: 16px;
    border-radius: 8px;
    background-color: rgba(31, 31, 31, 0.8);
    color: rgb(185, 185, 185);
}

.message-popup > .message-icon {

}

.message-popup > .message-text {
    flex-grow: 1;
    margin: auto 32px auto auto;
}

.message-popup > .close-message-popup {
}

input,
textarea,
select {
    border-radius: 5px;
    padding: 8px 14px;
    max-width: 100%;
    border: 1px solid var(--input-textarea-border);
    background-color: var(--input-textarea-bg);
}

button {
    border: 0;
    border-radius: 5px;
    padding: 8px 14px;
    max-width: 100%;
    color: var(--button-text);
    background-color: var(--button-bg);
}

button:hover, button:hover *,
input[type="submit"]:hover, input[type="submit"]:hover *,
input[type="button"]:hover, input[type="button"]:hover * {
    cursor: pointer;
    background-color: var(--button-bg-hover);
    transition: background-color .1s ease;
}

.symbol-clickable {
    padding: 1px 4px;
}

.symbol-clickable:hover, .symbol-clickable:hover * {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.041);
    transition: all .1s ease;
}

.form-container {
    display: block;
    width: max-content;
    max-width: 500px;
    margin: 50px auto;
}

.linewidth-centered-input-container > button {
    display: block;
    margin: 0 auto;
}

.centered-input-container {
    display: flex;
    flex-flow: column;
    padding: 20px
}

.centered-input-container > button {
    display: inline-block;
    margin-bottom: 12px;
    padding: 8px;
    /* margin: 0 auto; */
}

button.button-with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: medium; */
    /* width: 100%; */
}

button.button-with-icon > i {
    margin-right: 10px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#timer-container {
    background-color: var(--grid-elem-bg);
    border-radius: 4px;
    height: 100%;
    box-shadow: 0 6px 6px -6px var(--grid-elem-shadow);
    display: flex;
    flex-flow: row;
    align-items: center;
    font-size: larger;
    width: max-content;
    margin: auto;
}

#timer-container > div {
    text-align: center;
}

#socket-status-container {
    margin: 8px;
    padding: 8px 12px;
    border-radius: 3px;
    background-color: var(--v-v-v-slightly-darken);
}

.timer-box {
    flex-grow: 1;
    margin: auto 20px;
}

#socket-status.connected {
    color: var(--connected);
}

#socket-status.disconnected {
    color: var(--disconnected);
}

#url-link {
    overflow-x: hidden;
}

.custom-radio-button-container {
    display: flex;
    align-items: center;
    width: max-content;
    margin: 12px auto;
}

.custom-radio-button {
    padding: 12px 16px;
    margin: 0;
    background-color: grey;
    border-radius: 0;
}

.custom-radio-button.active {
    background-color: var(--moncom-blue);
}

.custom-radio-button.left {
    border-radius: 5px 0 0 5px;
}

.custom-radio-button.right {
    border-radius: 0 5px 5px 0;
}

.custom-radio-button:hover,
.custom-radio-button:hover > i,
.custom-radio-button > i:hover {
    background-color: var(--moncom-blue-hover);
}

.flex-container {
    display: flex;
}

.flex-container.column {
    flex-flow: column;
}

.flex-container.row {
    flex-flow: row;
}
