:root {
    --moncom-blue: rgb(48, 67, 89);
    --moncom-blue-hover: rgb(68, 88, 111);
    --moncom-blue-subtle: rgb(65, 79, 95);
    --moncom-blue-light: rgb(107, 122, 139);
    --moncom-blue-header: rgb(45, 57, 71);
    --moncom-blue-active: rgb(40, 78, 121);
    --moncom-gold: rgb(238, 169, 79);
    --moncom-gold-hover: rgb(236, 179, 104);
    --moncom-gold-light: rgb(255, 214, 163);
    --moncom-gold-lighter: rgb(255, 230, 199);

    --text-default: rgb(31, 31, 31);
    --page-bg: rgb(150, 150, 150);
    --grid-elem-bg: rgb(230, 230, 230);
    --menu-bg: rgba(98, 105, 117, 0.75);
    --grid-elem-header-bg: var(--moncom-blue-header);
    --grid-elem-header-text:rgb(242, 242, 242);
    --grid-elem-highlight: rgb(76, 87, 100);
    --grid-elem-shadow: rgb(46, 46, 46);

    --v-v-v-slightly-darken: rgba(0, 0, 0, 0.07);
    --v-v-slightly-darken: rgba(0, 0, 0, 0.14);
    --v-slightly-darken: rgba(0, 0, 0, 0.17);
    --slightly-darken: rgba(0, 0, 0, 0.19);
    --darken: rgba(0, 0, 0, 0.25);
    --v-v-v-slightly-lighten: rgba(255, 255, 255, 0.01);
    --v-v-slightly-lighten: rgba(255, 255, 255, 0.14);
    --v-slightly-lighten: rgba(255, 255, 255, 0.17);
    --slightly-lighten: rgba(255, 255, 255, 0.2);
    --lighten: rgba(255, 255, 255, 0.25);
    --slightly-bluen: rgba(36, 56, 79, 0.2);

    --dark-grey: rgba(50, 50, 50);

    --menu-tab: var(--grid-elem-bg);
    --menu-tab-hover: rgb(199, 199, 199);
    --link: rgb(16, 78, 129);
    --link-hover: rgb(75, 131, 177);

    --popup-container-bg: rgba(13, 13, 13, 0.5);
    --popup-bg: rgb(196, 196, 196);
    /* --popup-border: var(--grid-elem-bg); */

    --table-header: var(--slightly-bluen);
    /* --table-row: var(--slightly-darken); */
    --table-row-hover:var(--v-v-v-slightly-darken);

    --receiver-pg-bg: rgb(2, 2, 2);
    --receiver-text-default: rgb(219, 219, 219);
    --receiver-text-placeholder: rgb(145, 145, 145);

    --connected: rgb(38, 95, 38);
    --disconnected: rgb(151, 47, 73);

    --button-bg: rgb(23, 96, 155);
    --button-bg-hover: rgb(35, 113, 177);
    --button-text: var(--moncom-gold-lighter);

    --input-textarea-border: rgb(160, 160, 160);
    --input-textarea-bg: rgb(230, 230, 230);

    --simple-button-bg: rgb(201, 201, 201);
    --simple-button-bg-hover: rgb(211, 211, 211);
}
