#controller-container {
    display: grid;
    flex-grow: 1;
    grid-template-columns: minmax(0, 270px) repeat(10, 1fr) minmax(0, 270px);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 24px;
    padding: 36px 72px;
    margin: 0 0 0 2vw;
}

.controller-section {
    background-color: var(--grid-elem-bg);
    border-radius: 4px;
    height: 100%;
    display: flex;
    flex-flow: column;
    box-shadow: 0 6px 6px -6px var(--grid-elem-shadow);
    margin: 5px 0;
}

.controller-section > header {
    width: 100%;
    border-bottom: 1px solid var(--grid-elem-highlight);
    font-weight: 600;
    border-radius: 5px 5px 0 0;
    text-align: center;
    padding: 8px;
    background-color: var(--grid-elem-header-bg);
}

.controller-section > content {
    overflow-y: auto;
    flex-grow: 1;
}

#wrapper-left {
    grid-column: 1;
    grid-row: 1 / 13;
    display: flex;
    flex-direction: column;
}

#wrapper-right {
    grid-column: 12;
    grid-row: 1 / 13;
    display: flex;
    flex-direction: column;
}

#text-templates-container {
    flex-grow: 1;
}

#image-templates-container {
    flex-grow: 1;
}

#preview-container {
    grid-column: 4 / 10;
    grid-row: 1 / 5;
    display: flex;
    flex-flow: column;
    padding: 3px;
    width: 80%;
    margin: 0 auto;
}

#timer-container {
    grid-column: 5 / 9;
    grid-row: 5 / 6;
}

#input-container {
    grid-column: 4 / 10;
    grid-row: 6 / 9;
    display: flex;
    flex-flow: column;
}

#log-container {
    grid-column: 4 / 10;
    grid-row: 9 / 13;
    position: relative;
}

#log-container > content {
    max-height: 300px;
    overflow-y: auto;
}

#log-container::after {
    position: absolute;
    pointer-events: none;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: inset 0 -60px 50px -50px var(--grid-elem-bg);
}

#settings-container {
    grid-column: 12;
    grid-row: 1 / 4;
}

#participants-container {
    grid-column: 12;
    grid-row: 7 / 13;
}

#text-input-container {
    width: 80%;
    height: 100%;
}

#text-input-container > div {
    margin: 0 auto;
}

#text-input-wrapper {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.side-container {
    opacity: 60%;
    transition: all 0.2s ease;
}

.side-container:hover {
    opacity: 100%;
    transition: all 0.2s ease;
}

#url-link-container > p > button {
    margin: 6px 12px;
}

#url-link-container > p > button > i {
    margin: 6px 12px;
}

#qr-code-container > img {
    min-width: 200px;
    width: 30%;
    display: block;
    margin: 30px auto;
}

#qr-code-container > div {
    text-align: center;
}

#preview-container > content {
    display: block;
    flex-grow: 1;
}

#iframe-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
}

#iframe-container > iframe {
    width: 400%;
    height: 400%;
    transform: scale(0.25);
    transform-origin: 0 0;
    border-radius: 0 0 5px 5px;
}

#message-table {
    max-height: 200px;
    border-collapse: separate;
    border-spacing: 0 6px;
    margin: 10px auto;
    table-layout: fixed;
}

#message-table th {
    background-color: var(--slightly-lighten);
    height: 48px;
    text-align: left;
}

#message-table .cell-with-icon {
    text-align: center;
}

#message-table .wider-column {
    min-width: 100px;
    width: min-content;
    max-width: 30%;
}

#message-table .widest-column {
    min-width: 300px;
    width: min-content;
    max-width: 40%;
}

#message-table td, #message-table th {
    padding: 5px 24px;
}

#message-table td {
    min-height: 36px;
}

.message-table-row > td {
    border-bottom: 1px solid rgb(150, 150, 150);
}

#message-table .text-column {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#template-select {
    margin: auto;
    width: 80%;
}

.participant {
    border: 1px solid var(--slightly-darken);
    border-radius: 4px;
    display: flex;
    flex-flow: row;
    width: 90%;
    margin: 4px auto;
    /* padding: 4px; */
}

.participant > div {
    padding: 8px 12px;
}

.participant-name {
    flex-grow: 1;
}

.participant-permission {
    cursor: pointer;
    flex-shrink: 0;
    background-color: var(--simple-button-bg);
    border-radius: 4px;
}

.participant-permission:hover {
    background-color: var(--simple-button-bg-hover);
}

.participant-permission .fa-eye-slash {
    color: var(--disconnected);
}

#session-password-container {
    height: 64px;
}

#session-password-input-wrapper {
    display: none;
    max-width: 100%;
}

#session-password-input-container {
    flex-grow: 3;
}

#session-password-input {
    width: 100%;
    height: 100%;
}

#session-password-button-container {
    flex-grow: 1;
}

#session-password-button {
    width: 100%;
    height: 100%;
}

#session-password-display {
    background-color: var(--v-v-slightly-lighten);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    flex-grow: 3;
}

#session-password-display-button-container {
    flex-grow: 1;
}