#list-table {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
}

#list-table th {
    background-color: var(--table-header);
    border-bottom: 1px solid var(--table-header);
    text-align: left;
}

#list-table .cell-with-icon {
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

#list-table .cell-with-icon > i {
    margin: 0 5px;
}

#list-table .wider-column {
    width: max-content;
    /* max-width: 25%; */
}

#list-table .widest-column {
    min-width: 30%;
    max-width: 45%;
}

#list-table .text-column {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#list-table td, #list-table th {
    padding: 0 16px;
    width: max-content;
}

#list-table th {
    height: 48px;
}

#list-table td {
    height: 36px;
}

.list-table-row {
    background-color: var(--table-row);
}

.list-table-row:hover {
    cursor: pointer;
    background-color: var(--table-row-hover);
}
