.menu-tab {
    height: 100%;
    display: flex;
    flex-flow: row;
    font-size: larger;
    /* display: inline-block; */
    padding: 12px 18px;
    /* width: 100%; */
    border-radius: 3px;
    color: var(--moncom-gold);
    background-color: var(--moncom-blue);
    text-align: left;
}

.menu-tab > .icon-container {
    width: 24px;
    text-align: center;
}

.menu-tab > .label-container {
    text-align: left;
    visibility: hidden;
    transition: all 0.2s ease;
    max-width: 0;
    white-space: nowrap;
    opacity: 0;
    color: var(--moncom-gold-light);
}

.menu-tab > .open {
    opacity: 1;
    margin-left: 16px;
    visibility: visible;
    max-width: 300px;
}

.menu-button {
    /* transition: all 0.05s; */
}

.menu-button:hover {
    background-color: var(--moncom-blue-hover);
    color: var(--moncom-gold-hover);
    /* transition: background-color .1s ease; */
    /* transition: all 0.1s; */
    cursor: pointer;
}

.menu-section {
    margin-bottom: 8px;
}

.menu-section.bottommost {
    margin-bottom: 0;
}

.menu-section .menu-tab-label {
    text-align: center;
    display: none;
}

.icon-container > i {
    color: var(--moncom-gold-light);
}

#menu-filler {
    display: flex;
    flex-grow: 1;
}

#header-container {
    text-align: center;
    font-size: x-large;
    font-weight: 800;
    color: var(--grid-elem-header-text);
}
