* {
    box-sizing: border-box;
    color: var(--receiver-text-default);
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html, body {
    background-color: var(--receiver-pg-bg);
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    height: 100vh;
    width: 100vw;
    /* cursor: none; */
}

#menu-container {
    position: fixed;
}

#menu-container > i {
    color: var(--dark-grey);
    cursor: pointer;
    padding: 16px;
    margin: 16px;
    font-size: xx-large;
}

#text-container {
    width: 100%;
}

#content-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

#text-here {
    width: 100%;
    font-size: 100px;
}

#popup-container {
    z-index: 999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--popup-container-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

#popup-container > div {
	border-radius: 10px;
	background-color: var(--dark-grey);
	min-width: 500px;
	padding: 25px;
    width: min-content;
	max-width: 60%;
}

#popup-container input {
    color: var(--dark-grey);
}
