#template-container {
    width: 50%;
    margin: 0 auto;
}

#tab-selector {
    width: max-content;
    margin: 20px auto;
    display: flex;
    flex-flow: row;
    color: var(--moncom-gold-light);
    font-size: large;
}

.template-tab {
    margin: 16px 4px;
    padding: 12px 20px;
    text-align: center;
    background-color: var(--moncom-blue);
    border-radius: 5px;
}

.template-tab:hover {
    background-color: var(--moncom-blue-hover);
    cursor: pointer;
}

.template-tab.active {
    background-color: var(--moncom-blue-active);
}

.socket-tab {
    margin: 16px 32px;
    /* padding: 12px 20px; */
    text-align: center;
    background-color: var(--lighten);
    border-radius: 5px;
}

#socket-status-container {
    margin: 4px;
}

#text-container {
    width: 100%;
}

#content-wrapper {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    height: 100%;
}

#text-here {
    /* TODO */
    flex-grow: 1;
    width: 100%;
    font-size: 100px;
}

.template-page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    min-height: 600px;
    height: 70vh;
    min-width: 800px;
    width: 50vw;
    margin: auto;
    grid-gap: 12px;
}

.template-page > .template-list-container {
    grid-column: 1 / 6;
    grid-row: 1 / 13;
}

.template-page > .template-preview {
    grid-column: 6 / 13;
    grid-row: 1 / 7;
    width: 400%;
    height: 400%;
    transform: scale(0.25);
    transform-origin: 0 0;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-flow: column;
    padding: 3px;
}

.template-page > .template-timer {
    grid-column: 6 / 13;
    grid-row: 7;
}

.template-page > .template-input {
    grid-column: 6 / 13;
    grid-row: 8 / 13;
}

.template-section {
    /* margin: 24px auto; */
    /* width: 80%; */
    border-radius: 5px;
}

.with-background {
    background-color: var(--lighten);
}

#text-list {
    max-height: 100%;
    overflow-y: auto;
}

#text-input-container {
    width: minmax(200px, 80%);
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.predef-text-item {
    display: flex;
    flex-direction: row;
    padding: 8px 16px;
    margin: 6px 10%;
    background-color: var(--lighten);
}

.predef-text-item:hover {
    background-color: var(--darken);
}

.predef-text-item-content {
    flex-grow: 1;
}

.predef-text-item-timer > i {
    margin-right: 8px;
}

#image-upload {
}
