.toggle-btn {
    position: relative;
    display: inline-block;
    width: 145px;
    height: 74px;
    margin: 0 auto;
    border-radius: 40px;
    /* margin: 60px auto 76px auto; */
    transform: scale(0.3, 0.3);
}

input[type="checkbox"] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.toggle-btn span {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border: 8px solid #b3b3b3;
    border-color: #b3b3b3;
    overflow: hidden;
    background-color: #fff;
    border-radius: 40px;
    transition: 0.8s ease border-color;
}

.toggle-btn span:before {
    content: '';
    position: absolute;
    top: -8px;
    width: 58px;
    height: 58px;
    border-width: 8px;
    border-style: solid;
    border-color: #b3b3b3;
    margin-left: 0px;
    border-radius: 50%;
    transform: translate(-8px,0px);
    transition: 0.4s ease border-radius, 0.4s ease transform, 0.6s ease width, 0.6s ease margin-left, 0.8s ease border-color;
}

.toggle-btn input[type="checkbox"]:active + span:before {
    width: 80px;
    border-radius: 40px;
}

.toggle-btn input[type="checkbox"]:checked:active + span:before {
    margin-left: -22px;
}

.toggle-btn input[type="checkbox"]:checked + span {
    border-color: #000;
}

.toggle-btn input[type="checkbox"]:checked + span:before {
    border-color: #000;
    transform: translate(63px, 0px);
}
