#user-container-main {
    padding: 64px 128px;
}

.user-grid-section {
    width: 100%;
    display: grid;
    grid-template-columns: 25% auto;
    background-color: var(--slightly-lighten);
    margin: 0 0 16px;
    padding: 16px 0;
}

.user-grid-label {
    padding: 8px 32px;
    border-right: 1px solid grey;
    columns: 1;
    text-align: right;
}

.user-grid-item {
    padding: 8px 32px;
    columns: 2;
}

