{% extends "supervision/_base.html" %}

{% block title %}Log in{% endblock %}

{% block header %}
    Welcome to MonCom!
{% endblock %}

{% block body %}
    <content class="narrow-content">
        <div class="form-container">
            <h3>Log in</h3>
            <form id="login-form" method="POST">
                {% csrf_token %}
                <p><input type="text" name="username" placeholder="Username"></p>
                <p><input type="password" name="password" placeholder="Password"></p>
                <button type="submit" class="button-with-icon">
                    <i class="fas fa-sign-in-alt"></i>
                    Log in
                </button>
                <p><a href="/accounts/password_reset">
                    Forgotten your password?
                </a></p>
            </form>

            <br>
            <br>
            <br>

            <h3>Need an account?</h3>
            <a href="/accounts/register">
                <button class="button-with-icon">
                    <i class="fas fa-user-plus"></i>
                    Create a new account
                </button>
            </a>
        </div>
    </content>
{% endblock %}
