{% extends "../supervision/_base.html" %}

{% block title %}Password reset{% endblock %}
{% block header %}Password reset{% endblock %}

{% block body %}
<div class="form-container">
    Use this form to change your password.

    <br>
    <br>
    <form method="POST">
        {% csrf_token %}

            {% for field in form.visible_fields %}
            <p>
                {{ field.errors }}
                <input name="{{ field.name }}"
                       type="{{ field.widget_type }}"
                       placeholder="{{ field.label }}"
                       required="{{ field.required }}">
            </p>
            {% endfor %}
            <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
