{% extends "../supervision/_base.html" %}

{% block title %}Password reset complete{% endblock %}
{% block header %}Password reset complete{% endblock %}

{% block body %}
<div class="form-container">
    <p>
        Your password was reset. You may <a href="/accounts/log_in">log in</a>.
    </p>
</div>
{% endblock %}
