{% extends "../supervision/_base.html" %}

{% block title %}Password reset{% endblock %}
{% block header %}Password reset{% endblock %}

{% block body %}
<div class="form-container">
    {% if validlink %}

    <form id="reset-password-form" method="POST">
        {{ form }}
        {% csrf_token %}
        <p><input type="submit" value="Submit"></p>
    </form>

    {% else %}

    <p>The password reset link was invalid, possibly because it has already been used.  Please
    request a new link to reset your password.</p>

    {% endif %}
</div>
{% endblock %}
