{% extends "../supervision/_base.html" %}

{% block title %}Request password reset{% endblock %}
{% block header %}Request password reset{% endblock %}

{% block body %}
<div class="form-container">
    If you have forgotten your password, enter your email in the form below.
    A link to reset your password will be sent to your email address.

    <br>
    <br>
    <form id="reset-password-form" method="POST">
        {% csrf_token %}
        <p><input type="email" name="email" placeholder="Email address"></p>
        <p><input type="submit" value="Submit"></p>
    </form>
</div>
{% endblock %}
