{% extends "../supervision/_base.html" %}

{% block title %}Create account{% endblock %}
{% block header %}Sign up{% endblock %}

{% block body %}
    <div class="form-container">
        <form method="post">
            {% csrf_token %}

            {{ form.non_field_errors }}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
            {% endfor %}

            <table>
                {% for field in form.visible_fields %}
                  <tr class="form-row">
                    <th class="form-label">
                        {{ field.label_tag }}
                    </th>
                    <td>
                      {{ field.errors }}
                      {{ field }}
                    </td>
                  </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td>
                        <input hidden="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button class="button-with-icon" type="submit" value="Submit">
                            <i class="fas fa-check"></i>
                            Submit
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}
