
<div id="preview-container" class="controller-section">
    <content>
        <div id="iframe-container">
        </div>
    </content>
</div>

<div id="timer-container" >
    <!-- <header class="grid-box-header"><i class="fas fa-cog"></i></header> -->
    <div id="socket-status-container">
        <i class="fas fa-unlink disconnected" id="socket-status"></i>
    </div>
    <div class="timer-box" title="Timers are under construction">
        <div>00:00</div>
    </div>
    <div class="timer-box" title="Timers are under construction">
        <div>00:00</div>
    </div>
    <div class="timer-box" title="Timers are under construction">
        <div>00:00</div>
    </div>
</div>


<div id="input-container">
    <!-- <header class="grid-box-header">Input</header> -->
    <content id="text-input-wrapper">
        <div id="text-input-container">
            <textarea id="input-textarea"></textarea>
        </div>
    </content>
</div>

<div id="log-container" class="controller-section">
    <header class="grid-box-header">Log</header>
    <div class="shadow"></div>
    <content>
        <table id="message-table">
            <thead>
                <tr>
                    <th>Type</th>
                    <!-- <th class="wider-column">Date</th>
                    <th class="wider-column">Time</th> -->
                    <th class="widest-column">Content</th>
                </tr>
            </thead>
            <tbody>
                {% for msg in session.message_set.all %}
                    <tr class="message-table-row">
                        <td class="cell-with-icon">
                            {% if msg.get_type == 'text' %}
                                <i class="fa-large far fa-comment"></i>
                            {% elif msg.get_type == 'image' %}
                                <i class="fa-large far fa-image"></i>
                            {% endif %}
                        </td>
                        <!-- <td>{{ msg.timestamp.date|date:"d.m.Y" }}</td>
                        <td>{{ msg.timestamp.time|time:"H:i:s" }}</td> -->
                        <td class="text-column"
                            title="{{ msg.get_child.content }}">{{ msg.get_child.strip_html }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </content>
</div>

