{% extends "supervision/_base.html" %}

{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'supervision/style/controller.css' %}?{% now ' u'='' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'supervision/style/toggle.css' %}?{% now ' u'='' %}">
{% endblock %}

{% block title %}Session – {{ session.name }} ({{ session.id }}){% endblock %}

{% block header_scripts %}
    {{ session.id|json_script:"session-id" }}
    <script src="https://cdn.tiny.cloud/1/k3vxlwctr2lybfow6t56m7h4f5a0i8kr2bi2t7i64bcgwcjz/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
{% endblock %}

{% block header %}Controller{% endblock %}

{% block controller %}
    {% include "./wrapper_left.html" %}

    {% include "./centre.html" %}

    {% include "./wrapper_right.html" %}
{% endblock %}


{% block popups %}
    <div id="qr-code-container">
        <img id="qr-code-img">
    </div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'supervision/scripts/controllerSocket.js' %}?{% now ' u'='' %}"></script>
    <script type="text/javascript" src="{% static 'supervision/scripts/controller.js' %}?{% now ' u'='' %}"></script>
{% endblock %}
