<div id="wrapper-right" class="side-container">
    <div id="settings-container">
        <content>
            <div class="centered-input-container">
                <button type="button" class="button-with-icon" id="copy-link-button">
                    <i class="fa-large symbol-clickable far fa-clone"></i>
                    <span class="truncate"></span>
                </button>
                <button type="button" class="button-with-icon" id="open-receiver-button">
                    <i class="fa-large symbol-clickable fas fa-external-link-alt"></i>
                    <span>Open receiver</span>
                </button>
                <button type="button" class="button-with-icon" id="show-qr-code-button">
                    <i class="fa-large fas fa-qrcode"></i>
                    <span>Show QR code</span>
                </button>
            </div>

            <div class="custom-radio-button-container">
                <button class="custom-radio-button left {% if session.status == 'OPN' %}active{% endif %}"
                        data-radio-group="session-status" data-radio-value="OPN"
                        onclick="setSessionStatus('OPN');">
                    <i class="fa-large fas fa-door-open" title="Open door: Anybody can join the session with a link."></i>
                </button>
                <button class="custom-radio-button {% if session.status == 'CLS' %}active{% endif %}"
                        data-radio-group="session-status" data-radio-value="CLS"
                        onclick="setSessionStatus('CLS');">
                    <i class="fa-large fas fa-door-closed" title="Closed door: Participants require permission to join the session."></i>
                </button>
                <button class="custom-radio-button right {% if session.status == 'PWD' %}active{% endif %}"
                        data-radio-group="session-status" data-radio-value="PWD"
                        onclick="setSessionStatus('PWD');">
                    <i class="fa-large fas fa-key" title="Password protected: Participants can let themselves in."></i>
                </button>
            </div>

            <div id="session-password-container"
                {% if session.status != 'PWD' %}style="display: none;"{% endif %}
                >
                <div id="session-password-display-wrapper" class="flex-container row">
                    <div id="session-password-display">{{ session.password }}</div>
                    <div id="session-password-display-button-container">
                        <button type="button" id="session-password-button" onclick="activateSessionPasswordInput();">Change</button>
                    </div>
                </div>
                <div id="session-password-input-wrapper">
                    <div class="flex-container row">
                        <div id="session-password-input-container">
                            <input type="text" id="session-password-input" value="{{ session.password }}"
                                placeholder="Session password">
                        </div>
                        <div id="session-password-button-container">
                            <button type="button" id="session-password-button" onclick="setSessionPassword();">Set</button>
                        </div>
                    </div>
                </div>
            </div>
        </content>
    </div>

    <div id="participants-container" class="controller-section">
        <header class="grid-box-header">Participants</header>
        <content>
            <span id="url-link"></span>

            <div id="participants-list"></div>
        </content>
    </div>
</div></div>