<div id="wrapper-left" class="side-container">
    <div id="text-templates-container" class="controller-section">
        <header class="grid-box-header">Text templates</header>
        <content>
            <form method="POST">
                {% csrf_token %}
                {{ select_template_form }}
                <input type="text" name="form_label" value="select_template" hidden>
                <button type="submit" value="submit">Submit</button>
            </form>
            {% for text in session.template.text_set.all %}
                <button onclick="sendTextMessage('{{ text.content }}');">
                    {{ text.strip_html }}
                </button>
            {% endfor %}
        </content>
    </div>

    <div id="image-templates-container" class="controller-section">
        <header class="grid-box-header">Image templates</header>
        <content>
            {% for image in session.template.image_set.all %}
                <button>
                    {{ image.content }}
                </button>
            {% endfor %}
        </content>
    </div>
</div>
