{% autoescape off %}
<h3>Hi, {{ username }}!</h3>

<p>You (or somebody pretending to be you) sent a request to reset your password. If this was you, please click the following link to reset your password:</p>
<p>
<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a>
</p>
<p>If clicking the link above doesn't work, please copy and paste the URL in a new browser window
instead.
</p>

<p>Sincerely,</p>
<p>MonCom</p>

{% endautoescape %}