{% autoescape off %}
{% spaceless %}

<h3>Welcome to MonCom, {{ username }}!
</h3>
<!-- <p>
    Thanks for signing up. Here's a quick overview of what MonCom can do, and what's coming soon...
</p> -->
<p>Please click the following link to confirm your email address and activate your account:
</p>
<p><a href="{{ protocol }}://{{ domain }}{% url 'activate' uidb64=uid token=token %}">
{{ protocol }}://{{ domain }}{% url 'activate' uidb64=uid token=token %}
</a>
</p>
<p>If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.
</p>

<p>Sincerely,</p>
<p>MonCom</p>

{% endspaceless%}
{% endautoescape %}